In [2]:
import pandas as pd
df = pd.read_csv('House_Pricing.csv')
print(df.head())
df.info()
df.describe()

           ID Date House was Sold  Sale Price  No of Bedrooms  \
0  7129300520     14 October 2017    221900.0               3
1  6414100192    14 December 2017    538000.0               3
2  5631500400    15 February 2016    180000.0               2
3  2487200875    14 December 2017    604000.0               4
4  1954400510    15 February 2016    510000.0               3

   No of Bathrooms  Flat Area (in Sqft)  Lot Area (in Sqft)  No of Floors  \
0             1.00               1180.0              5650.0           1.0
1             2.25               2570.0              7242.0           2.0
2             1.00                770.0             10000.0           1.0
3             3.00               1960.0              5000.0           1.0
4             2.00               1680.0              8080.0           1.0

  Waterfront View No of Times Visited  ... Overall Grade  \
0              No                 NaN  ...             7
1              No                 NaN  ...             7
2              No                 NaN  ...             6
3              No                 NaN  ...             7
4              No                 NaN  ...             8

   Area of the House from Basement (in Sqft)  Basement Area (in Sqft)  \
0                                     1180.0                        0
1                                     2170.0                      400
2                                      770.0                        0
3                                     1050.0                      910
4                                     1680.0                        0

   Age of House (in Years)  Renovated Year  Zipcode  Latitude  Longitude  \
0                       63               0  98178.0   47.5112   -122.257
1                       67            1991  98125.0   47.7210   -122.319
2                       85               0  98028.0   47.7379   -122.233
3                       53               0  98136.0   47.5208   -122.393
4                       31               0  98074.0   47.6168   -122.045

   Living Area after Renovation (in Sqft)  Lot Area after Renovation (in Sqft)
0                                  1340.0                                 5650
1                                  1690.0                                 7639
2                                  2720.0                                 8062
3                                  1360.0                                 5000
4                                  1800.0                                 7503

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   ID                                         21613 non-null  int64
 1   Date House was Sold                        21613 non-null  object
 2   Sale Price                                 21609 non-null  float64
 3   No of Bedrooms                             21613 non-null  int64
 4   No of Bathrooms                            21609 non-null  float64
 5   Flat Area (in Sqft)                        21604 non-null  float64
 6   Lot Area (in Sqft)                         21604 non-null  float64
 7   No of Floors                               21613 non-null  float64
 8   Waterfront View                            21613 non-null  object
 9   No of Times Visited                        2124 non-null   object
 10  Condition of the House                     21613 non-null  object
 11  Overall Grade                              21613 non-null  int64
 12  Area of the House from Basement (in Sqft)  21610 non-null  float64
 13  Basement Area (in Sqft)                    21613 non-null  int64
 14  Age of House (in Years)                    21613 non-null  int64
 15  Renovated Year                             21613 non-null  int64
 16  Zipcode                                    21612 non-null  float64
 17  Latitude                                   21612 non-null  float64
 18  Longitude                                  21612 non-null  float64
 19  Living Area after Renovation (in Sqft)     21612 non-null  float64
 20  Lot Area after Renovation (in Sqft)        21613 non-null  int64
dtypes: float64(10), int64(7), object(4)
memory usage: 3.5+ MB

,ID,Sale Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),Renovated Year,Zipcode,Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft)
count,2.161300e+04,2.160900e+04,21613.000000,21609.000000,21604.000000,2.160400e+04,21613.000000,21613.000000,21610.000000,21613.000000,21613.000000,21613.000000,21612.000000,21612.000000,21612.000000,21612.000000,21613.000000
mean,4.580302e+09,5.401984e+05,3.370842,2.114732,2079.931772,1.510776e+04,1.494309,7.623467,1788.344193,291.509045,46.994864,84.402258,98077.937766,47.560048,-122.213892,1986.538914,12768.455652
std,2.876566e+09,3.673890e+05,0.930062,0.770138,918.487597,4.142827e+04,0.539989,1.105439,827.982604,442.575043,29.373411,401.679240,53.505425,0.138565,0.140830,685.404255,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,1.000000,290.000000,0.000000,3.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1429.250000,5.040000e+03,1.000000,7.000000,1190.000000,0.000000,21.000000,0.000000,98033.000000,47.470975,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.617500e+03,1.500000,7.000000,1560.000000,0.000000,43.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068825e+04,2.000000,8.000000,2210.000000,560.000000,67.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,10.000000,9410.000000,4820.000000,118.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

Duplicate Removal

In [3]:
num_duplicates = df.duplicated().sum()
print(f"Number of duplicate rows: {num_duplicates}")
df = df.drop_duplicates()

Number of duplicate rows: 0

In [4]:
df_transposed = df.T
duplicate_rows = df_transposed.duplicated()
columns_to_drop = df_transposed[duplicate_rows].index
df = df.drop(columns=columns_to_drop)

Missing Values

In [5]:
missing_values = df.isnull().sum()
print(missing_values[missing_values > 0])

Sale Price                                       4
No of Bathrooms                                  4
Flat Area (in Sqft)                              9
Lot Area (in Sqft)                               9
No of Times Visited                          19489
Area of the House from Basement (in Sqft)        3
Zipcode                                          1
Latitude                                         1
Longitude                                        1
Living Area after Renovation (in Sqft)           1
dtype: int64

Numerical Columns

In [6]:
for column in df.select_dtypes(include=['number']).columns:
    if df[column].isnull().any():
        imputation_value = df[column].median()
        df[column].fillna(imputation_value, inplace=True)
        print(f"Imputed missing values in column '{column}' with median: {imputation_value}")

Imputed missing values in column 'Sale Price' with median: 450000.0
Imputed missing values in column 'No of Bathrooms' with median: 2.25
Imputed missing values in column 'Flat Area (in Sqft)' with median: 1910.0
Imputed missing values in column 'Lot Area (in Sqft)' with median: 7617.5
Imputed missing values in column 'Area of the House from Basement (in Sqft)' with median: 1560.0
Imputed missing values in column 'Zipcode' with median: 98065.0
Imputed missing values in column 'Latitude' with median: 47.5718
Imputed missing values in column 'Longitude' with median: -122.23
Imputed missing values in column 'Living Area after Renovation (in Sqft)' with median: 1840.0

<ipython-input-6-d96c2d3106b7>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(imputation_value, inplace=True)

In Numerical Columns missing values were imputed using the median

Categorical Columns

In [7]:
for column in df.select_dtypes(include=['object']).columns:
    if df[column].isnull().any():
        mode = df[column].mode()[0]
        df[column] = df[column].fillna(mode)
        print(f"Imputed missing values in '{column}' with mode: {mode}")

Imputed missing values in 'No of Times Visited' with mode: Twice

In Categorical Columns missing values were filled with the mode(most frequent category)

MinMax Scaler

In [9]:
from sklearn.preprocessing import MinMaxScaler
numerical_cols = df.select_dtypes(include=['number']).columns.tolist()
if 'Sale Price' in numerical_cols:
    numerical_cols.remove('Sale Price')
scaler = MinMaxScaler()
df[numerical_cols] = scaler.fit_transform(df[numerical_cols])
print(df.head())

         ID Date House was Sold  Sale Price  No of Bedrooms  No of Bathrooms  \
0  0.720103     14 October 2017    221900.0        0.090909          0.12500
1  0.647853    14 December 2017    538000.0        0.090909          0.28125
2  0.568795    15 February 2016    180000.0        0.060606          0.12500
3  0.251157    14 December 2017    604000.0        0.121212          0.37500
4  0.197333    15 February 2016    510000.0        0.090909          0.25000

   Flat Area (in Sqft)  Lot Area (in Sqft)  No of Floors Waterfront View  \
0             0.067170            0.003108           0.0              No
1             0.172075            0.004072           0.4              No
2             0.036226            0.005743           0.0              No
3             0.126038            0.002714           0.0              No
4             0.104906            0.004579           0.0              No

  No of Times Visited  ... Overall Grade  \
0               Twice  ...      0.666667
1               Twice  ...      0.666667
2               Twice  ...      0.555556
3               Twice  ...      0.666667
4               Twice  ...      0.777778

   Area of the House from Basement (in Sqft)  Basement Area (in Sqft)  \
0                                   0.097588                 0.000000
1                                   0.206140                 0.082988
2                                   0.052632                 0.000000
3                                   0.083333                 0.188797
4                                   0.152412                 0.000000

   Age of House (in Years)  Renovated Year   Zipcode  Latitude  Longitude  \
0                 0.521739        0.000000  0.893939  0.571498   0.217608
1                 0.556522        0.988089  0.626263  0.908959   0.166113
2                 0.713043        0.000000  0.136364  0.936143   0.237542
3                 0.434783        0.000000  0.681818  0.586939   0.104651
4                 0.243478        0.000000  0.368687  0.741354   0.393688

   Living Area after Renovation (in Sqft)  Lot Area after Renovation (in Sqft)
0                                0.161934                             0.005742
1                                0.222165                             0.008027
2                                0.399415                             0.008513
3                                0.165376                             0.004996
4                                0.241094                             0.007871

[5 rows x 21 columns]

Encoding

In [11]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

categorical_cols = df.select_dtypes(include=['object']).columns.tolist()
df = pd.get_dummies(df, columns=categorical_cols, dummy_na=False)
print(df.head())

         ID  Sale Price  No of Bedrooms  No of Bathrooms  Flat Area (in Sqft)  \
0  0.720103    221900.0        0.090909          0.12500             0.067170
1  0.647853    538000.0        0.090909          0.28125             0.172075
2  0.568795    180000.0        0.060606          0.12500             0.036226
3  0.251157    604000.0        0.121212          0.37500             0.126038
4  0.197333    510000.0        0.090909          0.25000             0.104906

   Lot Area (in Sqft)  No of Floors  Overall Grade  \
0            0.003108           0.0       0.666667
1            0.004072           0.4       0.666667
2            0.005743           0.0       0.555556
3            0.002714           0.0       0.666667
4            0.004579           0.0       0.777778

   Area of the House from Basement (in Sqft)  Basement Area (in Sqft)  ...  \
0                                   0.097588                 0.000000  ...
1                                   0.206140                 0.082988  ...
2                                   0.052632                 0.000000  ...
3                                   0.083333                 0.188797  ...
4                                   0.152412                 0.000000  ...

   Waterfront View_Yes  No of Times Visited_Four  No of Times Visited_Once  \
0                False                     False                     False
1                False                     False                     False
2                False                     False                     False
3                False                     False                     False
4                False                     False                     False

   No of Times Visited_Thrice  No of Times Visited_Twice  \
0                       False                       True
1                       False                       True
2                       False                       True
3                       False                       True
4                       False                       True

   Condition of the House_Bad  Condition of the House_Excellent  \
0                       False                             False
1                       False                             False
2                       False                             False
3                       False                              True
4                       False                             False

   Condition of the House_Fair  Condition of the House_Good  \
0                         True                        False
1                         True                        False
2                         True                        False
3                        False                        False
4                         True                        False

   Condition of the House_Okay
0                        False
1                        False
2                        False
3                        False
4                        False

[5 rows x 41 columns]

outlier removal

In [12]:
import numpy as np
numerical_cols = df.select_dtypes(include=np.number).columns.tolist()
mask = pd.Series(True, index=df.index)
for col in numerical_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1

    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    mask = mask & ((df[col] >= lower_bound) & (df[col] <= upper_bound))

df_cleaned = df[mask].copy()
print(f"Original number of rows: {len(df)}")
print(f"Number of rows after outlier removal: {len(df_cleaned)}")

Original number of rows: 21613
Number of rows after outlier removal: 15900

train test split

In [14]:
import pandas as pd
from sklearn.model_selection import train_test_split

X = df.drop(columns=['Sale Price'])
y = df['Sale Price']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
print("X Train :",X_train.shape)
print("X test :",X_test.shape)

X Train : (17290, 40)
X test : (4323, 40)